.options-box {
  display: flex;
  font-family: "Inter";
  flex-direction: column;
  justify-items: flex-start;
  gap: 4px;
  min-width: 600px;
}

.title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 64px;
  color: black;
}

.buttons {
  display: flex;
  height: 124px;
}

.options {
  width: 300px;
  height: 124px;
  background-color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold;
  font-size: 40px;
  transition: 0.25s ease;
}

.join-button {
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid white;
}

.create-button {
  border-radius: 0px 20px 20px 0px;
  border-left: 1px solid white;
}

.options:hover {
  background-color: #2d2d2d;
}

.join-option {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.room-code-input {
  height: 75px;
  width: 587px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 32px;
  border-radius: 30px;
  padding-left: 20px;
  border: 3px solid #000000;
}
