<div class="options-box">
  <p class="title">Options</p>
  <div class="buttons">
    <div
      class="join-button options"
      *ngIf="!isJoinExpanded"
      (click)="toggleJoinRoom()"
      @fadeAnimation
    >
      <p class="button-text">Join a room</p>
    </div>
    <div class="create-button options" *ngIf="!isJoinExpanded" @fadeAnimation>
      <p class="button-text" (click)="createRoom()">Create a room</p>
    </div>
    <div class="join-option" *ngIf="isJoinExpanded" @fadeAnimation>
      <input
        type="text"
        name="room-code-input"
        id="room-code-input"
        placeholder="Enter room code"
        class="room-code-input"
        [(ngModel)]="roomCode"
      />
      <!-- TODO: Add a back button. For this, make the text location dynamic... -->
      <app-button
        [buttonWidth]="'75px'"
        [buttonHeight]="'34px'"
        [fontSize]="'18px'"
        [text]="'Go'"
        [icon]="'bx bx-right-arrow-alt'"
        (click)="submitRoomCode()"
      ></app-button>
    </div>
  </div>
</div>
