.chat-content {
  width: calc(100vw - 50px);
  height: calc(100vh - 115px);
  display: flex;
  border-radius: 30px;
  gap: 20px;
  color: black;
}

.sidebar {
  width: 15%;
  background-color: #fff4e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.chat-area {
  width: 85%;
  background-color: #fff4e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
}

.message-area {
  width: 100%;
  height: 93%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 4px;
}

.message-area::-webkit-scrollbar {
  width: 8px;
}

.message-area::-webkit-scrollbar-track {
  background: #fff4e5;
  border-radius: 10px;
}

.message-area::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.message-area::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d;
}

.chat-box {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.messageBox {
  width: 85%;
  height: 85%;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 3px solid #000;
  background: #fff;
  padding-left: 20px;
  font-size: large;
}

.messageSendButton {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 100%;
  background-color: #000;
  color: white;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageSendButton:hover {
  background-color: #2d2d2d;
}

.messageSendButton:active {
  background-color: #5a5a5a;
}
